{% extends 'main/base.html' %}
{% load static %}

{% block title %}Recent Blogs{% endblock %}
{% block description %}Explore my latest blogs below.{% endblock %}
{% block keywords %}blogs, articles, recent posts{% endblock %}

{% block extend_header %}{% endblock %}

{% block extend_footer %}{% endblock %}

{% block content %}
<section class="bg-gray-100 py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center" data-aos="fade-up">
      <div class="md:w-1/2">
        <h1 class="text-4xl font-bold mb-6">See my recent blogs below</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-50 py-16">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for obj in object_list %}
      <div class="bg-white rounded-lg shadow-lg overflow-hidden" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <a href="{% url 'main:blog' slug=obj.slug %}">
          <img src="{{ obj.image.url }}" alt="Blog Image" class="w-full h-48 object-cover transition-transform duration-300 hover:scale-105">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
